body {
    background: #f0f0f0;
    color: #243782;
    font-family: "Open Sans",sans-serif;
    letter-spacing: .01em;
    margin: 0;
  }
  
  button {
    color: #5F7470;;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    letter-spacing: .01em;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  h1 {
    background: #889696;
    color: #E0E2DB;
    font-size: 22px;
    font-weight: 300;
    margin-top: 0;
    padding: 10px 20px 15px;
  }
  
  .content {
    margin: 10px 20px;
  }
  
  .logo {
    height: 50px;
    padding-left: 25px;
    width: auto;
  }
  
  .title {
    background-color: #5F7470;
    padding: 10px 20px;
  }
  