body {
    background: #f0f0f0;
    color: #243782;
    font-family: "Encode Sans Condensed",sans-serif;
    letter-spacing: .01em;
    margin: 0;
  }
  
  button {
    color: #6875a4;;
    font-family: "Encode Sans Condensed",sans-serif;
    letter-spacing: .01em;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  h1 {
    background: #6875a4;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .content {
    margin: 10px 20px;
  }
  
  .logo {
    height: 50px;
    padding-left: 25px;
    width: auto;
  }
  
  .title {
    background-color: #243782;
    padding: 10px 20px;
  }
  