#machines {
  display: flex;
  flex-wrap: wrap;
}
  
  .fis_machine {
    align-items: center;
    background-color: #e0e2db;
    border-radius: 2px;
    border: 1px solid #D2D4C8;
    color: #5F7470;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .fis_machine.updating {
    opacity: .85;
    animation: fadeInFromNone 0.5s ease-out;
  }
  
  @-webkit-keyframes fadeInFromNone {
      81% {
          opacity: .8;
      }
  
      100% {
          opacity: 1;
      }
  }
  
  @-moz-keyframes fadeInFromNone {
      81% {
          opacity: .8;
      }
  
      100% {
          opacity: 1;
      }
  }
  
  @-o-keyframes fadeInFromNone {
      81% {
          opacity: .8;
      }
  
      100% {
          opacity: 1;
      }
  }
  
  @keyframes fadeInFromNone {
      81% {
          opacity: .8;
      }
  
      100% {
          opacity: 1;
      }
  }
  
  .fis_station {
    color: #5F7470;
    background-color: #D2D4C8;
    border-radius: 2px;
    border: 1px solid #D2D4C8;
    display: table;
    padding: 5px 0px 0px;
    margin: 10px 3px;
    min-height: 60px;
    text-transform: initial;
    width: 180px;
  }
  
  .fis_station.updating {
    animation: fadeInFromNone 0.5s ease-out;
  }
  
  .fis_station.faulted {
    background-color: crimson !important;
    color: white !important;
  }

  .fis_station.running {
/*    background-color: #138200;*/
/*    color: #E0E2DB;*/
  }

  .fis_status {
    margin: 10px 0;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    padding: 10px 1px;
  }
  
#btnRefresh {
  float:right;
  height: 45px;
  min-width: 125px;
}


.fault-good {
  background-color: #138200;
  color: #fff;
}

.fault-warning {
  background-color: #f3b13f;
  color: #fff;
}

.fault-maintenance {
  background-color: #0020f5;
  color: #fff;
}

.fault-failed {
  background-color: #d03832;
  color: #fff;
}

.fault-unknown {
  background-color: #6d6e71;
  color: #fff;
}

.widgetPartStatusContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 300;
}

span.widget-title {
    font-weight: 300;
    font-size: 11px;
}

.widget-status {
    background: #E0E2DB;
    display: flex;
    flex-direction: column;
    flex: 45%;
    font-size: 26px;
    font-weight: 700;
    margin: 1px;
}